<IfModule mod_rewrite.c>
    RewriteEngine On

    AddType text/css .css

    # Handle documentation assets
    RewriteCond %{REQUEST_URI} ^/api/docs/.*
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Handle Laravel API requests
    RewriteCond %{REQUEST_URI} ^/api/
    RewriteRule ^api/(.*)$ /api/index.php [L]

    RewriteCond %{REQUEST_URI} ^/api/storage/.*
    RewriteRule ^ - [L]

    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]
</IfModule>
