@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/poppins/400.css'; /* Regular */
@import '@fontsource/poppins/500.css'; /* Medium */
@import '@fontsource/poppins/600.css'; /* SemiBold */
@import '@fontsource/poppins/700.css'; /* Bold */
@import '@fontsource/poppins/800.css'; /* ExtraBold */


body {
  @apply font-poppins;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .no-print {
    display: none !important;
  }
}


.nav-area{
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
}

